.places {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	flex: 0 1 100%;
}

.places h1 {
	text-align: left;
	font-size: 30px;
	display: block;
	width: 100%;
}

.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #ff5a5f;
	border-radius: 4px;
	position: relative;
	display: flex;
	flex-direction: column;
}

.places article h2 {
	font-size: 30px;
	text-align: center;

	line-height: 30px;
}

.places article .price_by_night {
	color: #ff5a5f;
	border: 4px solid #ff5a5f;
	border-radius: 50%;
	font-size: 30px;
	min-width: 60px;
	height: 60px;
	position: absolute;
	top: 20px;
	right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.2rem;
}

.places article .price_by_night p {
	margin: auto;
}

.places article .information {
	height: 80px;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	display: flex;
	justify-content: space-around;
	padding-left: 1rem;
}

.max_guest,
.number_rooms,
.number_bathrooms {
	width: 100px;
	padding-top: 1.6rem;
	background-position: center 80px;
}

.places article .max_guest {
	background: url("../images/icon_group-guest.png") no-repeat;
}

.places article .number_rooms {
	background: url("../images/icon_bed-bedroom.png") no-repeat;
}

.places article .number_bathrooms {
	background: url("../images/icon_bath.png") no-repeat;
}

.places article .information p {
	padding-top: 5px;
}

.places article .user {
	display: flex;
	padding: 5px 0px;
}

.places article .description {
	display: flex;
	padding: 5px 0px;
}

.places article .amenities {
	padding: 0px;
}

.places article .amenities h2 {
	font-size: 16px;
	border-bottom: 1px solid #dddddd;
	text-align: left;
}

.places article .amenities ul {
	list-style: none;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

.places article .amenities ul li {
	padding: 20px 60px 0px;
	margin: 0px;
	width: auto;
	height: 30px;
}

.icon-one {
	background: url("../images/icon_tv.png") no-repeat;
}

.icon-two {
	background: url("../images/icon_wifi.png") no-repeat;
}

.icon-three {
	background: url("../images/icon_pets.png") no-repeat;
}

.places article .reviews {
	font-size: 16px;
}

.places article .reviews h2 {
	font-size: 16px;
	border-bottom: 1px solid #dddddd;
	text-align: left;
}

.places article .reviews ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	padding-left: 0px;
}

.places article .reviews ul li h3 {
	font-size: 14px;
}

.places article .reviews ul li p {
	font-size: 12px;
}

@media screen and (max-width: 62.5rem) {
	.places h1 {
		padding-left: 20px;
	}

}


@media screen and (max-width: 40rem) {
	.places h1 {
		padding-left: 20px;
	}

	.places article h2 {
		font-size: 24px;
		line-height: 40px;
	}
}
